@import url('https://fonts.googleapis.com/css2?family=Miltonian+Tattoo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@tailwind utilities;
@layer utilities {

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .miltonian {
    font-family: "Miltonian Tattoo";
  }
  .miltonian-bold {
    font-family: "Miltonian Tattoo Bold";
  }
  .lexend {
    font-family: "Lexend", sans-serif;
  }
  .open-sans {
    font-family: "Open Sans", sans-serif;
  }

}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-browndark: #1e1e1e;
}
